.lead__image {
    width: 984px;
    height: 615px;
    object-fit: cover;
    box-sizing: border-box;
  }
  @media screen and (max-width: 1030px) {
    .lead__image {
      width: 928px;
      height: auto;
    }
  }
  
  @media screen and (max-width: 970px) {
    .lead__image {
      width: 100%;
    }
  }
    