.intro__text {
  max-width: 690px;
  width: 100%;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  margin-top: 40px;
  margin-bottom: 33px;
  
}

@media screen and (max-width: 770px) {
  .intro__text { 
  max-width: 720px;
  width: 100%;
}
  
}


@media screen and (max-width: 650px) {
  .intro__text {
    font-size: 16px;
    line-height: 26px;
    margin: 40px 16px 34px 16px;
    min-width: 288px;
    width: 100%;
  }
}

